body{
    margin: 0;
    padding: 0;
}

span{
    color: #fff;
    background-color: #29272B;
}

/* HEADER */

.header--paragraph{
    position: absolute;
    display: inline-block;
    right: 20vh;
    top: 0.5vh;
    color: #fff;
    text-decoration: underline #e7bc0e;
}

.header--paragraph::before{
    background-image: url(../img/heart.svg);
    margin-right:10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
}

/* ENDE HEADER */

/* ERSTE SECTION */

.section--first{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.fixedbackground{
    position: fixed;
    background-image: url(../img/cleo-topper.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    display: inline-block;
    position: absolute;
    top: 20vh;
    left: 5%;
    width: 285px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    color: #fff;
}

.paragraph--firstsection{
    display: inline-block;
    position: absolute;
    top: 65vh;
    left: 5%;
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 0;
    color: #e7bc0e;
}

/* ENDE ERSTE SECTION */

/* ZWEITE SECTION */

.section--second{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.paragraph--secondsection{
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    height: 800px;
    width: 600px;
    left: 10%;
    bottom: 10%;
    color: #6bc1a3;
    font-size: 25px;
    line-height: 40px;
}